@* <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead class="thead-dark text-center">
            <tr>
                <th scope="col" class="col">Full Name</th>
                <th scope="col" class="col">Email</th>
                <th scope="col" class="col">Lockout Enabled</th>
                <th scope="col" class="col">Access Failed Count</th>
                <th scope="col" class="col">Is Dormant</th>
                <th scope="col" class="col">Last Login</th>
                <th scope="col" class="col">Last Password Change</th>
                <th scope="col" class="col">Reset Password</th>
                <th scope="col" class="col">Lock Account</th>
                <th scope="col" class="col">Unlock Account</th>
                <th scope="col" class="col">Dormant the User</th>
                <th scope="col" class="col">Remove Dormancy</th>
            </tr>
        </thead> *@
<div class="table-responsive">
    <table class="table table-bordered table-hover text-center align-middle">
        @* <thead class="table-light">
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Lockout Enabled</th>
                <th scope="col">Failed Count</th>
                <th scope="col">Is Dormant</th>
                <th scope="col">Last Login</th>
                <th scope="col">Last Password Change</th>
                <th scope="col">Reset Password</th>
                <th scope="col">Lock Account</th>
                <th scope="col">Unlock Account</th>
                <th scope="col">Dormant the User</th>
                <th scope="col">Remove Dormancy</th>
            </tr> *@
        <thead class="thead-dark text-center text-nowrap text-uppercase">
            <tr>
                <th scope="col" >Full Name</th>
                <th scope="col" >Email</th>
                <th scope="col" >Lockout Enabled</th>
                @* <th scope="col" >Access Failed Count</th> *@
                <th scope="col" >Is Dormant</th>
                <th scope="col" >Last Login</th>
                <th scope="col" >Last Password Change</th>
                <th scope="col" >Reset Password</th>
                <th scope="col" >Lock Account</th>
                <th scope="col" >Unlock Account</th>
                <th scope="col" >Dormant the User</th>
                <th scope="col" >Remove Dormancy</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr class="text-center">
                    <td>@user.FirstName @user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.LockoutEnabled</td>
                    @* <td>@user.AccessFailedCount</td> *@
                    <td>@user.IsDormant</td>
                    <td>@user.LastLoginDate</td>
                    <td>@user.LastPasswordChangedDate</td>
                    <td>
                        <form asp-action="ResetPassword" method="post" class="d-flex justify-content-end align-items-center">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <input type="text" class="form-control form-control-sm me-2" name="newPassword" placeholder="New Password" required style="width: 150px;" />
                            <button type="submit" class="btn btn-warning btn-sm">Reset</button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="LockAccount" method="post" class="d-inline">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button type="submit" class="btn btn-success btn-sm">Lock</button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="UnlockAccount" method="post" class="d-inline">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button type="submit" class="btn btn-info btn-sm">Unlock</button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="DormantTheUser" method="post" class="d-inline">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button type="submit" class="btn btn-danger btn-sm">Dormant User</button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="RemoveDormancy" method="post" class="d-inline">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button type="submit" class="btn btn-secondary btn-sm">Remove Dormancy</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
